page-manage-adventure {
    // TOP BUTTONS
    .backBtn {
       position: absolute;
       top: 30px;
       left: 20px;
       z-index: 10;
       color: $eggshell
   }
   .iconBack {
       font-size: 24pt
   }
   .backTxt{
       position: relative;
       top: -5pt;
       left: 5px
   }
   .editBtn {
       position: absolute;
       top: 30px;
       right: 20px;
       z-index: 10;
       color: $eggshell
   }
   .editTxt {
       position: relative;
       top: 5pt;
       right: 5px
   }
   ion-navbar {
       height: 80px !important;
       background: $blue 
   }
   ion-item {
       background: transparent !important;
       
   }
   
   .custHei {
       height: 30%   
   }
   
   .item-ios.item-block .item-inner {
       border-bottom: 0.55px solid $blue;
   }
   
   .item-md.item-block .item-inner {
       border-bottom: 0.55px solid $blue;
   }
   
   // Alert - options on select
   .alert-ios .alert-tappable {
       text-transform: capitalize !important
   }
   
   textarea {
       height: 100px
   }
   
   #map {
       height: 400px;
   }
   
   
   
       //Calendar style
       .table-bordered {
           border: none !important
       }
       table {
           margin-top: 0px
       }
       td {
           border: none !important;
           font-family: 'Open Sans', sans-serif;
           font-size: 10pt;
           font-weight: 500;
       }
       th {
           border: none
       }
       .table-bordered > thead > tr > th {
           border: none !important
       }
       .table {
           border-collapse: separate !important
       }
       th > small {
           font-family: 'Open Sans', sans-serif;
           font-size: 8pt;
           text-transform: uppercase;
           font-weight: 500
       }
       .monthview-secondary-with-event {
           background-color: transparent !important
       }
       .monthview-primary-with-event {
           background-color: transparent !important;
           color: #000 !important;
           position: relative;
       }
       .monthview-primary-with-event:before {
           position: absolute;
           content: "";
           width: 50%;
           left: 25%;
           top: 50%;
           right: 0;
           border-top: 1px solid;
           border-color: inherit;
           
           -webkit-transform:rotate(-50deg);
           -moz-transform:rotate(-50deg);
           -ms-transform:rotate(-50deg);
           -o-transform:rotate(-50deg);
           transform:rotate(-50deg);
       } 
       .monthview-selected {
           background-color: transparent !important;
           color: #000 !important
       }
       .monthview-current {
           background-color: transparent !important
       }
       .table > tbody > tr > td{
           line-height: 40px !important
       }
       .event-detail-container {
           display: none
       }
       .monthview-current {
           color: $teal !important;
           // border: 2px solid #000 !important;
           // border-radius: 100px;
       }
       .withoutAvailabity {
           color: #999 !important
       }
       .monthview-container {
           height: 350px !important
       }
       //Hide days of another months
       .text-muted {
           color: transparent !important
       }
   
       //Items
       .item-ios.item-block .item-inner {
           border-bottom: 1px solid $blue;
       }
       .item-md.item-block .item-inner {
           border-bottom: 1px solid $blue;
       }
   
       //Gallery
       .galleryImage {
           background-position: center;
           background-size: cover;
           width: 95%;
           height: 270px;
           position: relative;
           margin-bottom: 10px
       }
   
   }
   