page-user-type {
    .scroll-content {
        background-image: url('../assets/imgs/green.jpg');
        background-position: center;
        background-size: cover
    }

    .btnOption {
        background: $eggshell;
        padding: 10px;
        text-align: center
    }
}
