page-local-adventures {
  //Text over adventure
  div.wrapper{
    float:left; 
    position:relative; 
    height: 95px;
    width: 100%;
}
div.origin{
    padding-bottom: 23px;
    position:absolute; 
    bottom:0px; 
    left:0px;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, #000, transparent);
    color:white;
    transition: .5s ease;
}
p.origin_content{
    padding-left: 5px;
    margin:0px;
    color: #fff;
    transition: .5s ease;
}

//Text over categorie
div.wrapper2{
    float:left; 
    position:relative; 
    height: 100px;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    opacity:0.4; 
    // filter:alpha(opacity=60);
    transition: .5s ease;
    background-color: #000;
}
.cat {
    position:absolute; 
    width:100%;
    height: 100%;
    height: 25px;
    top: calc(50px - 11pt);
    text-align: center;
    z-index: 2
}
.categorieTitle {
    color: #fff
}

//Adventure card
.adventureCard {
    height: 95px;
    width: 100%;
    border-radius: 4px;
    background-color: $blue;
    border-color: transparent !important;
    background-position: center center;
    margin: 0px;
    background-size: cover;
}

//Star fill
.fill {
    color: $cinerous;
}
.border-fill {
    color: $cinerous;
    opacity: 0.2;
}

//Btn
.btnShowAll {
    width: 100%;
    border-radius: 5px;
    padding: 5px 0px;
    border: 1px solid $blue;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
    text-align: center
}


//Custom width for col 5
[col-5] {
    width: 47.5% !important;
    max-width: 100%;
    flex: 0 0 47.5%;
}

//Small device
@media (max-width: 400px)  { 
//Text over adventure
div.wrapper{
    float:left; 
    position:relative; 
    height: 100px;
    width: 100%;
}
div.origin{
    padding-bottom: 23px;
    position:absolute; 
    bottom:0px; 
    left:0px;
    width: 100%;
    height: 37px;
    background: linear-gradient(to top, #000, transparent);
    color:white;
    transition: .5s ease;
}

//Text over categorie
div.wrapper2{
    height: 85px;
}
.overlay {
    height:85px;
}
.cat {
    top: calc(50px - 16pt);
}

//Adventure card
.adventureCard {
    height: 85px;
}

}
}
